.teemo{
	height: 100px;
	width: 100px;
}

#header{
	background-color: #944420;
	height: 100px;
	display: flex;
	justify-content: center;
}

#footer{
	background-color: #944420;
	height: 100px;
	display: flex;
	justify-content: center;
}

a{
	transition: 500ms;	
	color: #2ECCB0;
}

tr:nth-child(even) {background-color: #36342f;}

a:hover{
	color: red;
}

body{
	color: #C8F7C5;
	background-color: #473419;
	padding: 0;
	margin: 0;
}

table{
	text-align: center;
}

table, th, td {
  border: 1px solid black;
}

.pageContentContainer{
	display: grid;
	grid-template-columns: repeat(6, 1fr); 
	grid-auto-rows: minmax(200px, auto);
}

.sidenavMain {
	background-color: #13120F;
	grid-column-start: 1; 
	grid-column-end: 2; 
	grid-row-start: 1; 
	grid-row-end: 3; 
}

.sidenavA {
	background-color: #13120F;
	grid-column-start: 1; 
	grid-column-end: 2; 
	grid-row-start: 1; 
	grid-row-end: 5; 
}

.sidenavB {
	background-color: #13120F;
	grid-column-start: 1; 
	grid-column-end: 2; 
	grid-row-start: 1; 
	grid-row-end: 7; 
}

.sidenavC {
	background-color: #13120F;
	grid-column-start: 1; 
	grid-column-end: 2; 
	grid-row-start: 1; 
	grid-row-end: 3; 
}

#mainpage { 
	border: 1px solid #fff;
	grid-column-start: 2; 
	grid-column-end: 7; 
	grid-row-start: 1; 
	grid-row-end: 2;
}

#championPageImg {
	grid-column-start: 2; 
	grid-column-end: 3; 
	grid-row-start: 2; 
	grid-row-end: 3;
	white-space: nowrap;
    text-align: center; 
	margin: 1em 1em;
}

#championPageText {
	border: 1px solid #fff;
	grid-column-start: 3; 
	grid-column-end: 4; 
	grid-row-start: 2; 
	grid-row-end: 3;
}

#championPageTable {
	text-align: center;
	grid-column-start: 4; 
	grid-column-end: 6; 
	grid-row-start: 2; 
	grid-row-end: 3;
}

#championPageAbilities {
	border: 1px solid #fff;
	grid-column-start: 2; 
	grid-column-end: 7; 
	grid-row-start: 3; 
	grid-row-end: 5;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: repeat(5, 100px);
	height:500px;
}

.championPageNested{
	grid-column: 1;
	border: 1px solid #fff;
	padding: 1em;
}

.abilitiesImg{
	width: 50px;
	height: 50px;
}

.abilitiesTextArea{
	border: 1px solid #fff;
	grid-column-start: 2;
	grid-column-end: 11;
}

#mapPageImg{
	border: 1px solid #fff;
	grid-column-start: 2; 
	grid-column-end: 7; 
	grid-row-start: 2; 
	grid-row-end: 6;
	white-space: nowrap;
    text-align: center; 
}

#mapPageBottomText{
	border: 1px solid #fff;
	grid-column-start: 2; 
	grid-column-end: 7; 
	grid-row-start: 6; 
	grid-row-end: 7;
}

#itemPageTable {
	border: 1px solid #fff;
	grid-column-start: 2; 
	grid-column-end: 6; 
	grid-row-start: 2; 
	grid-row-end: 3;
}