.teemo{
	height: 100px;
	width: 100px;
}

#header{
	background-color: #944420;
	height: 100px;
	display: flex;
	justify-content: center;
}

a{
	color: #2ECCB0;
}

body{
	color: #C8F7C5;
	background-color: #473419;
	padding: 0;
	margin: 0;
}

table{
	text-align: center;
}

#mainPageContent{
	display: grid;
	grid-template-columns: repeat(6, 1fr); 
	grid-auto-rows: 200px;
}

.sidenav {
	border: 1px solid #ccc;
	grid-column-start: 1; 
	grid-column-end: 2; 
	grid-row-start: 1; 
	grid-row-end: 3; 
}

.mainpage { 
	border: 1px solid #fff;
	grid-column-start: 2; 
	grid-column-end: 7; 
	grid-row-start: 1; 
	grid-row-end: 2;
}